*{
  flex-wrap: wrap;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
}
a{
  text-decoration: none !important;
  color: grey !important;
  margin-right: 20px;
}
li{
  color: grey;
}
.card2{
  margin-top: 100px;
}
.pin{
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(214, 214, 214);
}
.btnp{
  background-color: #00B4FF;
  color: white;
  padding: 15px 30px;
  font-size: 10px;
  border: none;
  border-radius: 20px;
}